<nav class="navbar d-flex flex-row justify-content-between navbar-dark bg-dark">
  <div>
      <img src="assets/logo-negativo-chico.png" class="img img-fluid" style="max-width: 100px;" alt="">
  </div>
  <div style="min-width: 14rem;">
    <ul class="navbar-nav d-flex flex-row justify-content-around mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
    </ul>
  </div>
</nav>