/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.canvas-container{
    background-color: #f0f0f0;
    aspect-ratio: 16 / 9;
    max-width: 90%;
    min-width: 300px;
    height: auto;
}

.camera-container{
    display: none;
}